@model Parking.Models.Client

@{
    ViewData["Title"] = "Client Page";
}

<header class="bg-white w-full shadow-xl">
    <div class="py-4 gap-10 container z-10 flex w-full items-center justify-between">
        <a href="#">
            <span class="text-blue-500 text-3xl font-semibold">Parking</span>
        </a>

        <nav>
            <ul class="gap-5 flex items-center justify-center text-lg md:text-xl lg:gap-8">
                <li class="hidden md:block">
                    <a href="#about" class="blue__link">Парковки</a>
                </li>
                <li class="hidden md:block">
                    <a asp-controller="Client" asp-action="Index" class="blue__link @(ViewContext.RouteData.Values["controller"].ToString() == "Client" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">Профиль</a>
                </li>
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                        <button type="submit" class="blue__link" title="Выйти">
                            <img src="./images/icons/exit.svg" alt="Вход" class="w-8 h-8 object-contain" />
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="my-10 h-full w-full">
    <div class="gap-4 container flex flex-col">
        <h1 class="px-4 text-3xl font-semibold">Ваш профиль</h1>
        <div class="gap-6 flex flex-col items-start justify-between lg:flex-row">
            <div class="p-6 bg-white gap-2 flex w-full flex-col rounded-2xl shadow-2xl lg:w-1/3 xl:p-10">
                <div class="gap-1 flex items-start justify-between">
                    <div class="relative h-2/5 w-2/5 sm:w-1/5 sm:h-1/5 lg:w-1/3 lg:h-1/3">
                        <img src="./images/icons/default-profile.svg"
                        alt="@Model.LastName @Model.FirstName @Model.MiddleName Avatar"
                        class="h-full w-full rounded-full border" />
                        <div class="bottom-0 right-0 absolute z-10">
                            <button class="blue__button-with-icon" title="Добавить">
                                <img src="./images/icons/add.svg" alt="Add" />
                            </button>
                        </div>
                    </div>

                    <div class="h-20 bg-black p-2 gap-1 relative flex w-1/3 flex-col items-start justify-between rounded-lg duration-300 hover:-translate-y-2 sm:w-1/4 lg:w-1/2 xl:w-1/3">
                        <span class="text-gray-50 select-none text-sm font-bold uppercase sm:text-lg">Tinkoff</span>
                        <span class="text-transparent select-none text-sm font-medium sm:text-gray-400">06/29</span>
                        <div class="w-6 h-6 bottom-2 right-6 bg-orange-400 absolute z-10 rounded-full"></div>
                        <div class="w-6 h-6 bottom-2 right-2 bg-red-500 absolute z-10 rounded-full"></div>
                    </div>
                </div>

                <h2 class="text-xl font-bold">@Model.LastName @Model.FirstName @Model.MiddleName</h2>

                <ul class="gap-2 flex flex-col">
                    <li class="gap-2 flex items-center justify-between">
                        <h3 class="text-black text-lg font-medium">Email:</h3>
                        <a href="to:@Model.Email" class="blue__link">@Model.Email</a>
                    </li>

                    <li class="gap-2 flex items-center justify-between">
                        <h3 class="text-black text-lg font-medium">Телефон:</h3>
                        <a href="tel:@Model.Phone" class="blue__link">@Model.Phone</a>
                    </li>

                    <li class="gap-2 flex items-center justify-between">
                        <h3 class="text-black text-lg font-medium">Адрес:</h3>
                        <a href="" class="blue__link">@Model.Address</a>
                    </li>
                </ul>
            </div>

            <div class="gap-4 flex w-full flex-col lg:w-2/3">
                <div class="p-4 bg-white gap-2 flex w-full items-center justify-between rounded-2xl shadow-2xl">
                    <h2 class="text-2xl font-semibold">Автомобили</h2>

                    <a class="blue__button-with-icon" title="Добавить" asp-action="CreateVehicle">
                        <img src="./images/icons/add.svg" alt="Add" />
                    </a>
                </div>

                <ul class="gap-6 grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">

                    @if (Model.Vehicles != null && Model.Vehicles.Any())
                    {
                        @foreach (var vehicle in Model.Vehicles)
                        {
                            <li class="p-3 bg-white gap-2 card__hover-button flex w-full select-none flex-col rounded-2xl shadow-2xl">
                                <div class="relative">
                                    <img src="@((vehicle.Photo == null) ? Url.Content("~/images/icons/default-car.svg") : $"data:image;base64,{Convert.ToBase64String(vehicle.Photo)}")" alt="Your car" class="h-full w-full rounded-xl border object-cover" />
                                    <div class="top-2 left-2 absolute z-10">
                                        <form asp-action="EditVehicle" asp-route-id="@vehicle.VehicleId" method="get">
                                            <button class="blue__button-with-icon" title="Изменить">
                                                <img src="./images/icons/edit.svg" alt="Edit" />
                                            </button>
                                        </form>
                                    </div>
                                    <div class="top-2 right-2 absolute z-10">
                                        <form asp-action="DeleteVehicle" asp-route-id="@vehicle.VehicleId" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этот автомобиль?');">
                                            <button type="submit" class="blue__button-with-icon" title="Удалить">
                                                <img src="./images/icons/delete.svg" alt="Delete" />
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="gap-1 flex items-end justify-center">
                                    <h3 class="text-base font-semibold">@vehicle.Brand @vehicle.Model</h3>
                                    <h4 class="text-gray-500 text-base">@vehicle.Year</h4>
                                </div>

                                <div class="flex items-center justify-center">
                                    <span class="p-1 text-black border-black rounded-sm rounded-r-none border border-solid font-semibold lowercase leading-none tracking-wide">@vehicle.LicensePlate</span>
                                    <span class="p-1 text-black border-black rounded-sm rounded-l-none border border-l-0 border-solid font-semibold leading-none tracking-wide">36</span>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <p class="w-full text-center">Автомобили не найдены</p>
                    }
                </ul>
            </div>
        </div>

        <h2 class="px-4 pt-2 text-3xl font-semibold lg:pt-4">Контракты</h2>

        <ul class="gap-6 grid grid-cols-1 lg:grid-cols-2">
            <li class="p-6 bg-white gap-4 flex w-full flex-col items-center justify-center rounded-2xl shadow-2xl">
                <div class="gap-4 flex flex-col items-center justify-between sm:flex-row sm:gap-6">
                    <img src="./images/icons/default-parking.svg"
                         alt=""
                         class="aspect-auto w-full rounded-lg sm:w-1/3" />

                    <div class="gap-2 flex w-full flex-col items-start">
                        <h3 class="text-xl font-semibold">ул. Тверская</h3>

                        <ul class="flex w-full flex-col text-nowrap">
                            <li class="gap-2 flex items-center justify-between">
                                <h4 class="text-black font-medium">Начало:</h4>
                                <div class="h-4 w-full border-b-2 border-dashed"></div>
                                <span class="text-blue-500">06:00</span>
                            </li>
                            <li class="gap-2 flex items-center justify-between">
                                <h4 class="text-black font-medium">Окончание:</h4>
                                <div class="h-4 w-full border-b-2 border-dashed"></div>
                                <span class="text-blue-500">18:00</span>
                            </li>
                            <li class="gap-2 flex items-center justify-between">
                                <h4 class="text-black font-medium">Парковочное место:</h4>
                                <div class="h-4 w-full border-b-2 border-dashed"></div>
                                <span class="text-blue-500">52</span>
                            </li>
                            <li class="gap-2 flex items-center justify-between">
                                <h4 class="text-black font-medium">Стоимость (₽):</h4>
                                <div class="h-4 w-full border-b-2 border-dashed"></div>
                                <span class="text-blue-500">160</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="gap-3 grid grid-cols-3 items-center justify-center">
                    <li class="gap-1 flex flex-col items-center justify-center">
                        <h4 class="font-medium">Авто</h4>
                        <img src="./images/icons/default-car.svg"
                             alt=""
                             class="aspect-square w-1/2 rounded-full border object-cover" />
                    </li>
                    <li class="gap-1 flex flex-col items-center justify-center">
                        <h4 class="font-medium">Водитель</h4>
                        <img src="./images/icons/default-driver.svg"
                             alt=""
                             class="aspect-square w-1/2 rounded-full border object-cover" />
                    </li>
                    <li class="gap-1 flex flex-col items-center justify-center">
                        <h4 class="font-medium">Охранник</h4>
                        <img src="./images/icons/default-guard.svg"
                             alt=""
                             class="aspect-square w-1/2 rounded-full border object-cover" />
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<footer class="py-12 bg-white z-10 w-full shadow-xl">
    <div class="container">
        <div class="gap-10 grid grid-cols-2 items-center justify-between">
            <div class="gap-16 flex flex-col justify-between">
                <a href="#">
                    <span class="text-blue-500 text-3xl font-semibold">Parking</span>
                </a>

                <p class="text-gray-500">© 2024 - Parking</p>
            </div>

            <nav>
                <ul class="gap-6 flex flex-col items-end">
                    <li>
                        <a href="#about" class="blue__link text-xl">Парковки</a>
                    </li>
                    <li>
                        <a href="#service" class="blue__link text-xl">Профиль</a>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                            <button type="submit" class="blue__link text-xl">Выйти</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
 